@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'material-icons/iconfont/material-icons.css';
html, body { min-height: 100%; }
body { margin: 0; font-family: Inter, Roboto, "Helvetica Neue", sans-serif; background: #f7f7fc; }
* { box-sizing: border-box; }
